* {
    box-sizing: border-box;
}

.topbar {
    margin-top: 0;
    background: white;
    width: 100%;
    height: 90px;
    border-bottom: lightgray;
    border-bottom-style: solid;
}

.topcontainer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.contact-tc {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 250px;
    height: 90px;
    text-align: center;
    line-height: 50px;
    color: white;
    float: left;
    margin-top: 0%;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    position: relative;
}

.divider {
    position: absolute;
    right: -1px;
    top: 2px;
    color: lightgray;
}

a:link,
a:visited {
    display: block;
    width: 120px;
    color: darkgray;
    text-align: center;
    text-decoration: none;
    padding: 4px;
}

#navmenu {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 360px;
    height: 80px;
    margin-top: 0;
    line-height: 100px;
    font-size: 18px;
    float: right;
}

.container {
    width: 960px;
    height: 600px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 30px;
}

.contact-container {
    width: 740px;
    height: 650px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 30px;
}

#about-me {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #4aaaa5;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    margin-bottom: 20px;
}

img {
    float: left;
    margin-right: 20px;
}

#bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#contact {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #4aaaa5;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    margin-bottom: 20px;
}

#portfolio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #4aaaa5;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    margin-bottom: 20px;
}

.text-block {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: gray;
}

.form-input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

#form-message {
    box-sizing: border-box;
    min-height: 150px;
    min-width: 100%;
}

button {
    color: white;
    background-color: #4aaaa5;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

.text-block {
    width: 200px;
    height: 45px;
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
    line-height: 10px;

}

.row1 {
    width: 550px;
}

.row1-1 {
    width: 50%;
}

.row1-2 {
    width: 50%;
    float: left;
}

.row2 {
    width: 550px;
}

.row2-1 {
    width: 50%;
    padding-top: 10px;
    float: left;
}

.row2-2 {
    width: 50%;
    padding-top: 10px;
    margin-left: -55px;
    float: left;
}

.row3 {
    clear: both;
    width: 100%;
    padding-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
    height: 60px;
    width: 100%;
    line-height: 50px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 10px;
}